<ion-app>
  <!-- Side Menu -->
<ion-menu contentId="main-content" menuId="mainMenu">
    <ion-header>
      <ion-toolbar class="toolbar-with-plane">
        <ion-title class="menu-title">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list lines="none">
        <ion-item button detail="false" class="menu-item" (click)="goToSettings()">
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>

        <ion-item button detail="false" class="menu-item" (click)="goToGeneral()">
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>General</ion-label>
        </ion-item>

        <ion-item button detail="false" class="menu-item" (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Page -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="toolbar-with-plane" style="position: relative;">
        <ion-menu-button autoHide="false" class="custom-menu-button" slot="start">
          <div class="menu-button-content">
            <span class="menu-icon">...</span>
            <span class="menu-label" style="font-size: 12px;">Menu</span>
          </div>
        </ion-menu-button>

        <div
          style="
            position: absolute;
            top: 1rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.5rem;
            font-weight: 600;
            color: #a48d78;
          "
        >
          {{ currentFilter === 'wishlist' ? 'Wishlist Page' : 'Itinerary Page' }}
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content class="wishlist-content">
      <section class="places">
        <div class="places__filter">
          <div class="toggle-switch">
            <button
              type="button"
              class="toggle-option"
              [class.active]="currentFilter === 'wishlist'"
              (click)="setFilter('wishlist')">
              Wishlist
            </button>

            <button
              type="button"
              class="toggle-option"
              [class.active]="currentFilter === 'itinerary'"
              (click)="setFilter('itinerary')">
              Itinerary
            </button>
          </div>
        </div>

        <div class="empty-message" *ngIf="wishlistData.length === 0">
          <ion-text color="medium">
            <p class="ion-text-center">
              You currently do not have a {{ currentFilter === 'wishlist' ? 'Wishlist' : 'Itinerary' }}
            </p>
          </ion-text>
        </div>

        <div class="box" *ngIf="wishlistData.length > 0">
          <div class="cards is-active" #cardsContainer>
            <div
              class="card"
              *ngFor="let group of wishlistData; let i = index"
              [ngClass]="'card--' + (i + 1)"
              [class.is-active]="expandedCountry === group.country"
            >
              <div class="country-row">
                <ion-item
                  button
                  detail="false"
                  (click)="toggleCountry(group.country)"
                  class="country-header-item"
                >
                  <ion-label class="card__title">{{ group.country }}</ion-label>
                </ion-item>

                <button
                  type="button"
                  class="more-btn"
                  [id]="'country-trigger-' + i"
                  aria-label="Open country actions"
                >
                  <span class="more-dots">⋮</span>
                </button>

                <ion-popover
                  [trigger]="'country-trigger-' + i"
                  triggerAction="click"
                  side="bottom"
                  alignment="end"
                  dismissOnSelect="true"
                  class="action-popover"
                >
                  <ng-template>
                    <ion-content>
                      <ion-list lines="none">
                        <ion-item button detail="false" (click)="editLocation(group.country, 'country')">
                          <ion-icon slot="start" name="create-outline"></ion-icon>
                          <ion-label>Edit ✏️</ion-label>
                        </ion-item>

                        <ion-item button detail="false" (click)="deleteCountry(group.country)">
                          <ion-icon slot="start" name="trash-outline"></ion-icon>
                          <ion-label>Delete 🗑️</ion-label>
                        </ion-item>

                        <ion-item button detail="false" (click)="moveCountry(group.country)">
                          <ion-icon slot="start" name="swap-horizontal-outline"></ion-icon>
                          <ion-label>
                            {{ currentFilter === 'wishlist' ? 'Move to Itinerary ⇄' : 'Move to Wishlist ⇄' }}
                          </ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </div>

              <ng-container *ngIf="expandedCountry === group.country">
                <ion-list class="city-list" *ngFor="let city of getUniqueCities(group.entries); let cityIndex = index">
                  <div class="city-row">
                    <ion-item
                      lines="none"
                      class="city-item"
                      (click)="goToCityPage(city)"
                    >
                      <ion-icon name="location-outline" slot="start" class="city-icon"></ion-icon>
                      <ion-label>{{ city }}</ion-label>
                    </ion-item>

                    <button
                      type="button"
                      class="more-btn"
                      [id]="'city-trigger-' + i + '-' + cityIndex"
                      aria-label="Open city actions"
                    >
                      <span class="more-dots">⋮</span>
                    </button>

                    <ion-popover
                      [trigger]="'city-trigger-' + i + '-' + cityIndex"
                      triggerAction="click"
                      side="bottom"
                      alignment="end"
                      dismissOnSelect="true"
                      class="action-popover"
                    >
                      <ng-template>
                        <ion-content>
                          <ion-list lines="none">
                            <ion-item button detail="false" (click)="editLocation(city, 'city')">
                              <ion-icon slot="start" name="create-outline"></ion-icon>
                              <ion-label>Edit ✏️</ion-label>
                            </ion-item>

                            <ion-item button detail="false" (click)="deleteCity(city)">
                              <ion-icon slot="start" name="trash-outline"></ion-icon>
                              <ion-label>Delete 🗑️</ion-label>
                            </ion-item>
                          </ion-list>
                        </ion-content>
                      </ng-template>
                    </ion-popover>
                  </div>
                </ion-list>
              </ng-container>
            </div>
          </div>

          <div class="social-btns">
            <button class="btn add-new" (click)="goToAddLocation()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </section>
    </ion-content>
  </div>
</ion-app>