<!-- <ion-content class="ion-padding">
  <div *ngFor="let item of wishlistItems" class="wishlist-card">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ item.name || item.category }}</ion-card-title>  -->
     <!-- </ion-card-header>
      <ion-card-content>
        <p>{{ item.address }}</p>
        <p><strong>{{ item.city }}, {{ item.country }}</strong></p> -->
        <!-- <p class="tag">{{ item.tag }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>  -->
